
                <!-- Page Header -->
                <div class="page-header">
                    
                    <!-- Heading -->
                    <span class="heading"><span data-ng-bind="productes.length"></span> 
                        <span data-ng-if="productes.length > 1 || productes.length == 0">Productes</span>
                        <span data-ng-if="productes.length == 1">Productes</span>
                    </span>
                    <!-- /.Heading -->
                    
                    <!-- Right floated buttons -->
                    <span class="float-right">
                    <div class="btn-group">
                      <button type="button" class="btn btn-blue btn-md" data-ng-click="OpenAddProducteModal()"><i class="fas fa-tag mr-2" ></i>Crear producte</button>
                      <button type="button" class="btn btn-blue btn-md dropdown-toggle px-3" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#"><i class="fas fa-file-excel mr-2"></i>Exportar excel</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-file-csv mr-2"></i>Exportar csv</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-print mr-2"></i>Imprimir</a>
                      </div>
                    </div>
                    </span>                    
                    <!-- /Right floated buttons -->
                    
                </div>
                <!-- /.Page Header-->
                
                <!-- Table Responsive container -->
                <div class="table-responsive">
                
                <table class="table table-hover">
                  <thead>
                    <tr>
                        <th>Marca</th>                        
                        <th>Model</th>
                        <th>Descripció</th>
                        <th>Tipus</th>
                        <th>Proveedor</th>
                        <th>Preu</th>
                        <th>Preu Venda</th>
                        <th style="width:140px;text-align: right"><i class="fas fa-cogs"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="producte in productes">
                      <td>{{producte.marca}}</td>                      
                      <td>{{producte.model}}</td>
                      <td>{{producte.descripcio}}</td>
                      <td>{{producte.subfamilia.nomSubfamilia}}</td>
                      <td>{{producte.proveidor.nom}}</td>
                      <td>{{producte.preu}}</td>
                      <td>{{producte.preuVenda}}</td>
                      <td style="width:140px;text-align: right">
                          <a class="btn btn-orange btn-smaller" data-ng-click="OpenEditProducteModal(producte)"><i class="fas fa-edit"></i></a>
                          <a class="btn btn-red btn-smaller" data-ng-click="OpenDeleteProducteModal(producte)"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                  </tbody>
                </table>
                
                
                </div>
                <!-- /.Table Responsive container -->
                                
                
                
            <div class="modal fade" id="modalProducte" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
          
        <h4 class="modal-title w-100 font-weight-bold">            
            <span data-ng-if="modalType === 'alta'"><i class="fas fa-box mx-3"></i>Crear producte</span>
            <span data-ng-if="modalType === 'modificacio'"><i class="fas fa-user-plus mx-3"></i>Editar producte</span>
            </h4>          
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
          <form name="ProducteCreation">    
              <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="text" class="form-control" id="inputMarca"  data-ng-model="producte.marca" required>
                <label data-ng-class="{active: modalType === 'modificacio'}" data-error="Marca invàlida" for="inputMarca">Marca</label>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="text" class="form-control" id="inputModel"  data-ng-model="producte.model" required>
                <label data-ng-class="{active: modalType === 'modificacio'}" for="inputModel">Model</label>
              </div>
            </div>
            <!-- Grid column -->
              
              <!-- Grid column -->
            <div class="col-md-4">                
              <!-- Material input -->
              <div class="md-form input-group">
                  <select data-ng-options="proveidor.nom for proveidor in proveidors track by proveidor.id" data-ng-model="producte.proveidor" class="browser-default custom-select" id="inputProveidor">
                  </select>
                <label class="active" data-error="Proveïdor invàlid" for="inputProveidor">Proveïdor</label>
              </div>
            </div>
            <!-- Grid column --> 
              
          </div>
          <!-- Grid row -->
          
          <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-12">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="text" class="form-control" id="inputDescripcio" data-ng-model="producte.descripcio" required>
                <label data-ng-class="{active: modalType === 'modificacio'}" data-error="Descripció invàlida" for="inputDescripcio">Descripció</label>
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-2">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="number" class="form-control" id="inputPreu" data-ng-model="producte.preu" required>
                <label data-ng-class="{active: modalType === 'modificacio'}" for="inputPreu">Preu</label>
              </div>
            </div>
            <!-- Grid column -->
              
            <!-- Grid column -->
            <div class="col-md-2">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="number" class="form-control" id="inputPreuVenda"  data-ng-model="producte.preuVenda">
                <label data-ng-class="{active: modalType === 'modificacio'}" for="inputPreuVenda">Preu Venda</label>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Material input -->
              <div class="md-form input-group">
                  <select data-ng-options="familia.nomFamilia for familia in families track by familia.id" data-ng-model="producte.familia" data-ng-change="LoadSubFamilies(producte.familia.id)" class="browser-default custom-select" id="inputFamilia">
                  </select>
                <label class="active" data-error="Familia invàlida" for="inputFamilia">Familia</label>
              </div>
            </div>
            <!-- Grid column -->
              
            <!-- Grid column -->
            <div class="col-md-4">                
              <!-- Material input -->
              <div class="md-form input-group">
                  <select data-ng-options="subfamilia.nomSubfamilia for subfamilia in subfamilies track by subfamilia.id" data-ng-model="producte.subfamilia" class="browser-default custom-select" id="inputResponsable">
                  </select>
                <label class="active" data-error="Responsable invàlid" for="inputResponsable">Subfamilia</label>
              </div>
            </div>
            <!-- Grid column -->  
          </div>
          <!-- Grid row -->
              <br>
          </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button data-ng-if="modalType === 'alta'" class="btn btn-blue" data-ng-disabled="ProducteCreation.$invalid" data-ng-click="AddProducte(producte)">Crear producte</button>
        <button data-ng-if="modalType === 'modificacio'" class="btn btn-orange" data-ng-disabled="ProducteCreation.$invalid" data-ng-click="UpdateProducte(producte)">Actualitzar</button>
      </div>
    </div>
  </div>
</div>
                
                
<div class="modal fade show" id="modalDeleteProducte" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
      <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
          <!--Header-->
          <div class="modal-header d-flex justify-content-center">
            <p class="heading">Està segur de borrar el producte - {{producte.nom}}?</p>
          </div>

          <!--Body-->
          <div class="modal-body">

            <i class="fas fa-user-minus fa-4x animated fadeIn"></i>

          </div>

          <!--Footer-->
          <div class="modal-footer flex-center">
            <a href="" class="btn btn-outline-danger waves-effect waves-light" data-ng-click="ConfirmDelete(producte)">Si</a>
            <a type="button" class="btn btn-danger waves-effect" data-dismiss="modal">No</a>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
            