
                <!-- Page Header -->
                <div class="page-header">
                    <!-- Heading -->
                    <span class="heading">La meva organització</span>
                    <!-- /.Heading -->                    
                    
                </div>
                <!-- /.Page Header-->
                
                <!-- Table Responsive container -->
                <div class="table-responsive">
                
                <table class="table table-hover">
                  <thead>
                    <tr>
                        <th>Usuari</th>                        
                        <th>Nom</th>
                        <th>Cognoms</th>
                        <th>Correu electrónic</th>
                        <th style="width:140px;text-align: right"><i class="fas fa-cogs"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="responsable in responsables">
                      <td>{{responsable.user}}</td>                      
                      <td>{{responsable.nom}}</td>
                      <td>{{responsable.cognom1}} {{responsable.cognom2}}</td>
                      <td>{{responsable.correu}}</td>
                      <td style="width:140px;text-align: right">
                          <a class="btn btn-orange btn-smaller"><i class="fas fa-edit"></i></a>
                          <a class="btn btn-red btn-smaller"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                  </tbody>
                </table>
                
                
                </div>
                <!-- /.Table Responsive container -->
                                
                
                
            <div class="modal fade" id="modalNewUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold"><i class="fas fa-user-plus mx-3"></i>Crear responsable</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
          <form name="UserCreation">
          <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="text" class="form-control" id="inputUserName"  data-ng-model="responsable.user" required>
                <label data-error="Usuari invàlid" for="inputUserName">Usuari</label>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="password" class="form-control" id="inputPassword"  data-ng-model="responsable.password" required>
                <label for="inputPassword">Contrasenya</label>
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
          
          <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="text" class="form-control" id="inputNom" data-ng-model="responsable.nom" required>
                <label data-error="Nom invàlid" for="inputNom">Nom</label>
              </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="text" class="form-control" id="inputCognom1"  data-ng-model="responsable.cognom1" required>
                <label data-error="Cognom invàlid" for="inputCognom1">Cognom 1</label>
              </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="text" class="form-control" id="inputCognom2"  data-ng-model="responsable.cognom2">
                <label data-error="Cognom invàlid" for="inputCognom2">Cognom 2</label>
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="text" class="form-control" id="inputNIF" data-ng-model="responsable.nif" required>
                <label for="inputNIF">NIF</label>
              </div>
            </div>
            <!-- Grid column -->
              
            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="text" class="form-control" id="inputBirthDate"  data-ng-model="responsable.data_naixement">
                <label for="inputBirthDate">Data naixement</label>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="email" class="form-control" id="inputEmail"  data-ng-model="responsable.correu" required>
                <label data-error="Correu invàlid" for="inputEmail">Correu electrònic</label>
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
              <br>
          </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-blue" data-ng-disabled="UserCreation.$invalid" data-ng-click="AddUser(responsable)">Donar d'alta</button>
      </div>
    </div>
  </div>
</div>
                
                
<div class="modal fade show" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
      <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
          <!--Header-->
          <div class="modal-header d-flex justify-content-center">
            <p class="heading">Està segur de borrar el responsable?</p>
          </div>

          <!--Body-->
          <div class="modal-body">

            <i class="fas fa-user-minus fa-4x animated fadeIn"></i>

          </div>

          <!--Footer-->
          <div class="modal-footer flex-center">
            <a href="" class="btn btn-outline-danger waves-effect waves-light">Si</a>
            <a type="button" class="btn btn-danger waves-effect" data-dismiss="modal">No</a>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
            