                <!-- Page Header -->
                <div class="page-header">
                    
                    <!-- Heading -->
                    <span class="heading"><span data-ng-bind="botigues.length"></span> 
                        <span data-ng-if="botigues.length > 1 || botigues.length == 0">Botigues</span>
                        <span data-ng-if="botigues.length == 1">Botiga</span>
                    </span>
                    <!-- /.Heading -->
                    
                    <!-- Right floated buttons -->
                    <span class="float-right">
                    <div class="btn-group">
                      <button type="button" class="btn btn-blue btn-md" data-ng-click="OpenAddBotigaModal()"><i class="fas fa-store mr-2" ></i>Crear botiga</button>
                      <button type="button" class="btn btn-blue btn-md dropdown-toggle px-3" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#"><i class="fas fa-file-excel mr-2"></i>Exportar excel</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-file-csv mr-2"></i>Exportar csv</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><i class="fas fa-print mr-2"></i>Imprimir</a>
                      </div>
                    </div>
                    </span>                    
                    <!-- /Right floated buttons -->
                    
                </div>
                <!-- /.Page Header-->
                
                <!-- Table Responsive container -->
                <div class="table-responsive">
                
                <table class="table table-hover">
                  <thead>
                    <tr>
                        <th>Nom</th>              
                        <th>Responsable</th>       
                        <th>Direcció</th>
                        <th>Codi Postal</th>
                        <th>Població</th>
                        <th>País</th>
                        <th style="width:140px;text-align: right"><i class="fas fa-cogs"></i></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="botiga in botigues">
                      <td>{{botiga.nom}}</td>          
                      <td>{{botiga.usuari.nom}} {{botiga.usuari.cognom1}}</td>          
                      <td>{{botiga.carrer}} {{botiga.numero}}</td>
                      <td>{{botiga.codiPostal}}</td>
                      <td>{{botiga.poblacio}}</td>
                      <td>{{botiga.pais}}</td>
                      <td style="width:140px;text-align: right">
                          <a class="btn btn-orange btn-smaller" data-ng-click="OpenEditBotigaModal(botiga)"><i class="fas fa-edit"></i></a>
                          <a class="btn btn-red btn-smaller" data-ng-click="OpenDeleteBotigaModal(botiga)"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                  </tbody>
                </table>
                </div>
                <!-- /.Table Responsive container -->
                                
                
                
            <div class="modal fade" id="modalBotiga" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
          
        <h4 class="modal-title w-100 font-weight-bold">            
            <span data-ng-if="modalType === 'alta'"><i class="fas fa-store mx-3"></i>Crear botiga</span>
            <span data-ng-if="modalType === 'modificacio'"><i class="fas fa-store mx-3"></i>Editar botiga</span>
            </h4>
          
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
          
          <form name="BotigaCreation">
          <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="text" class="form-control" id="inputName"  data-ng-model="botiga.nom" required>
                <label data-ng-class="{active: modalType === 'modificacio'}" data-error="Nom invàlid" for="inputName">Nom</label>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6">                
              <!-- Material input -->
              <div class="md-form input-group">
                  <select data-ng-options="responsable.nom for responsable in responsables track by responsable.id" data-ng-model="botiga.usuari" class="browser-default custom-select" id="inputResponsable">
                  </select>
                <label class="active" data-error="Responsable invàlid" for="inputResponsable">Responsable</label>
                  <div class="input-group-append" id="MaterialButton-addon4">
                    <button data-ng-click="OpenAddResponsableModal()" class="btn btn-md btn-primary m-0 px-3" type="button"><i class="fas fa-user-plus mx-3"></i></button>
                  </div>
              </div>
            </div>
            <!-- Grid column -->              
          </div>
          <!-- Grid row -->
          
          <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="text" class="form-control" id="inputCarrer"  data-ng-model="botiga.carrer" required>
                <label data-ng-class="{active: modalType === 'modificacio'}" data-error="Carrer invàlid" for="inputCarrer">Carrer</label>
              </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="text" class="form-control" id="inputNumero"  data-ng-model="botiga.numero">
                <label data-ng-class="{active: modalType === 'modificacio'}" data-error="Cognom invàlid" for="inputNumero">Número</label>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="text" class="form-control" id="inputCodiPostal" data-ng-model="botiga.codiPostal" required>
                <label data-ng-class="{active: modalType === 'modificacio'}" for="inputCodiPostal">Codi Postal</label>
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="form-row">
              

            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="text" class="form-control" id="inputPoblacio"  data-ng-model="botiga.poblacio" required>
                <label data-ng-class="{active: modalType === 'modificacio'}" data-error="Població invàlida" for="inputPoblacio">Població</label>
              </div>
            </div>
            <!-- Grid column -->
              
            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="text" class="form-control" id="inputPais"  data-ng-model="botiga.pais">
                <label data-ng-class="{active: modalType === 'modificacio'}" for="inputPais">País</label>
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
              <br>
          </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button data-ng-if="modalType === 'alta'" class="btn btn-blue" data-ng-disabled="BotigaCreation.$invalid" data-ng-click="AddBotiga(botiga)">Crear</button>
        <button data-ng-if="modalType === 'modificacio'" class="btn btn-orange" data-ng-disabled="BotigaCreation.$invalid" data-ng-click="UpdateBotiga(botiga)">Actualitzar</button>
      </div>
    </div>
  </div>
</div>
                
                
<div class="modal fade show" id="modalDeleteBotiga" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
      <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content text-center">
          <!--Header-->
          <div class="modal-header d-flex justify-content-center">
            <p class="heading">Està segur de borrar la botiga -  {{botiga.nom}}?</p>
          </div>

          <!--Body-->
          <div class="modal-body">
            <i class="fas fa-store fa-4x animated fadeIn"></i>
          </div>

          <!--Footer-->
          <div class="modal-footer flex-center">
            <a href="" class="btn btn-outline-danger waves-effect waves-light" data-ng-click="ConfirmDelete(botiga)">Si</a>
            <a type="button" class="btn btn-danger waves-effect" data-dismiss="modal">No</a>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>

 
            <div class="modal fade" id="modalResponsable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">            
            <span><i class="fas fa-user-plus mx-3"></i>Crear responsable</span>
            </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
          <form name="UserCreation">
          <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="text" class="form-control" id="inputUserName"  data-ng-model="responsable.user" required>
                <label data-ng-class="{active: modalType === 'modificacio'}" data-error="Usuari invàlid" for="inputUserName">Usuari</label>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="password" class="form-control" id="inputPassword"  data-ng-model="responsable.password" required>
                <label data-ng-class="{active: modalType === 'modificacio'}" for="inputPassword">Contrasenya</label>
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
          
          <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="text" class="form-control" id="inputNom" data-ng-model="responsable.nom" required>
                <label data-ng-class="{active: modalType === 'modificacio'}" data-error="Nom invàlid" for="inputNom">Nom</label>
              </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="text" class="form-control" id="inputCognom1"  data-ng-model="responsable.cognom1" required>
                <label data-ng-class="{active: modalType === 'modificacio'}" data-error="Cognom invàlid" for="inputCognom1">Cognom 1</label>
              </div>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="text" class="form-control" id="inputCognom2"  data-ng-model="responsable.cognom2">
                <label data-ng-class="{active: modalType === 'modificacio'}" data-error="Cognom invàlid" for="inputCognom2">Cognom 2</label>
              </div>
            </div>
            <!-- Grid column -->

          </div>
          <!-- Grid row -->

          <!-- Grid row -->
          <div class="form-row">
            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="text" class="form-control" id="inputNIF" data-ng-model="responsable.nif" required>
                <label data-ng-class="{active: modalType === 'modificacio'}" for="inputNIF">NIF</label>
              </div>
            </div>
            <!-- Grid column -->
              
            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="date" class="form-control" id="inputBirthDate"  data-ng-model="responsable.dataNaixement">
                <label data-ng-class="{active: modalType === 'modificacio'}" for="inputBirthDate">Data naixement</label>
              </div>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">
              <!-- Material input -->
              <div class="md-form form-group">
                <input type="email" class="form-control" id="inputEmail"  data-ng-model="responsable.correu" required>
                <label data-ng-class="{active: modalType === 'modificacio'}" data-error="Correu invàlid" for="inputEmail">Correu electrònic</label>
              </div>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
              <br>
          </form>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-blue" data-ng-disabled="UserCreation.$invalid" data-ng-click="AddResponsable(responsable)">Donar d'alta</button>
      </div>
    </div>
  </div>
</div>
                

            