.card-img-top{
  max-width: 450px !important;
  max-height: 145px !important;
  margin:auto;
  margin-top: 40px;
  margin-bottom: 25px;
}

.card-img-link{
  margin: auto;
}

.card{
  max-width: 850px;
  margin: auto;
  margin-top: 10%;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }

}

.card-text{
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 17px !important;
}

hr{
  margin-top: 50px;
}

body{
  background-color: #E6E6E6;
  background-image: url("../img/background.jpg");
  background-position: center;
}

.btn{
  width:42.5%;
  margin-left:40px;
}

form{
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

.form-check{
  margin-top:27px;
  float:left;
}

.login{
  margin-top:25px;
  float:right;
  width: 250px;
}

.register{
  width: 100%;
  margin-top: 20px;
}

.half{
  width:47.5%;
}

.left{
  float:left;
}

.right{
  float:right;
}

#menu{
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;
  max-width: 700px;
}

#menu a{
  color:white;
  font-size:18px;
  font-weight: bolder;
}

#menu a:hover{
  color:#4285F4;
}
